@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&display=swap');
:root {
    --shadow: #4d4d4d;
    --placeholder-color: rgb(164, 164, 164);
    --button-color: rgb(123, 184, 204);
    --font-bebas-neue: 'Bebas neue';
    --font-lilita-one: 'Lilita one';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    
}

.input-container {
    display: flex;
    box-shadow: 1px 1px 3px .5px var(--shadow);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.input-container input{
    width: 350px;
    outline: none;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    flex: 4;
    font-family: var(--font-lilita-one);
    font-size: 1.2rem;
}

.input-container input::placeholder {
    color: var(--placeholder-color);
    letter-spacing: 2px;
}

.input-container button {
    flex: 1;
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-bebas-neue);
    letter-spacing: 5px;
    font-size: 1.1em;
    font-weight: bolder;
    background-color: var(--button-color);
}

.header-caption {
    text-transform: uppercase;
    font-family: var(--font-bebas-neue);
    letter-spacing: 5px;
}

.container-todo {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.sec {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px;
    margin: 10px 0;
    border: 3px solid var(--shadow);
    font-size: 1.2rem;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .7rem;
    cursor: pointer;
}

.todo {
    background-color: lightskyblue;
}
.todo button {
    color: #fff;
    background-color: lightsalmon;
}
.on-progress {
    background-color: lightsalmon;
}
.on-progress button {
    background-color: lightgreen;
}
.done {
    background-color: lightgreen;
}

.image {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    z-index: -10;
}

.image .logo {
    font-family: var(--font-lilita-one);
    letter-spacing: 10px;
}

#logo-img {
    position: relative;
    width: 300px;
    height: 300px;
    left: 190px;
    top: 90px;
    z-index: -1;
    animation-name: slide-up;
    animation-duration: 1s;
}

.image:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;

}

@keyframes slide-up {
    from {
        transform: translateY(20%);
        opacity: .1;
    }
    to {
        transform: translateY(0);
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

